In [1]:
import numpy as np
import pandas as pd

In [2]:
det = np.array([1,2,3,6,7,9,10,11,13,15,17,18,19,25,26,28])

ph_1596 = np.array([1511,1694,1393,1611,1840,1750,1570,1730,1109,1555,1573,1646,1737,1524,1713,1308])
ph_511 = np.array([483,541,445,515,590,560,502,553,354,496,503,525,555,484,548,418])

In [3]:
slope = (1596-511)/(ph_1596-ph_511)
slope

array([1.05544747, 0.94102342, 1.14451477, 0.9899635 , 0.868     ,
       0.91176471, 1.0159176 , 0.92183517, 1.43708609, 1.02455146,
       1.01401869, 0.96788582, 0.9179357 , 1.04326923, 0.93133047,
       1.21910112])

In [5]:
offset = 511 - slope * ph_511
offset

array([ 1.2188716 ,  1.90633131,  1.69092827,  1.16879562, -1.12      ,
        0.41176471,  1.0093633 ,  1.22514868,  2.27152318,  2.82247403,
        0.94859813,  2.85994648,  1.54568528,  6.05769231,  0.63090129,
        1.41573034])

In [6]:
calib_dict = {"det":det, "slope":slope, "offset":offset}

In [8]:
df  = pd.DataFrame(calib_dict)
df

    det     slope    offset
0     1  1.055447  1.218872
1     2  0.941023  1.906331
2     3  1.144515  1.690928
3     6  0.989964  1.168796
4     7  0.868000 -1.120000
5     9  0.911765  0.411765
6    10  1.015918  1.009363
7    11  0.921835  1.225149
8    13  1.437086  2.271523
9    15  1.024551  2.822474
10   17  1.014019  0.948598
11   18  0.967886  2.859946
12   19  0.917936  1.545685
13   25  1.043269  6.057692
14   26  0.931330  0.630901
15   28  1.219101  1.415730

In [9]:
df.to_csv("../calib/calib_2023may.csv",index=False)