In [1]:
import numpy as np
import pandas as pd

In [2]:
det = np.array([1,2,3,6,7,9,10,11,13,15,17,18,19,20,22,25,26,27,28])

ph_511  = np.array([483,  543,445,  516,  592,559,503,566,355,498,503,525,557,500,337,486,554,347,326])
ph_1779 = np.array([1684,1892,1552,1797, 2056,1949,1754,1971,1235,1736,1753,1835,1941,1741,1176,1693,1931,1107,1142])
ph_7724 = np.array([7315,8215,6743,7802, 8936,8466,7616,8563,5367,7540,7616,7971,8430,7564,5106,7352,8388,4800,4950])
ph_9034 = np.array([8530,9592,7890,9135,10498,9905,8912,10021,6279,8821,8915,9333,9868,8854,6050,8606,9820,5613,5784])

# df = pd.DataFrame({"det":det,"ph_511":ph_511,"ph_1368":ph_1368,"ph_2754":ph_2754})
# df

slope = []
offset=[]
for i in range(len(det)):
    poly = np.polynomial.Polynomial.fit([ph_511[i],ph_1779[i],ph_7724[i],ph_9034[i]],[511,1779,7724,9034],deg = 1)
    poly = np.polynomial.Polynomial.fit([ph_511[i],ph_9034[i]],[511,9034],deg = 1)
    # res = np.polynomial.Polynomial.fit(np.array([0,1]),np.array([0,1]),deg = 1)
    slope.append(poly.convert().coef[1])
    offset.append(poly.convert().coef[0])
    

df_results = pd.DataFrame({"det":det,"slope":slope,"offset":offset})
df_results

    det     slope     offset
0     1  1.059152  -0.570647
1     2  0.941872  -0.436512
2     3  1.144795   1.566152
3     6  0.988862   0.747302
4     7  0.860388   1.650515
5     9  0.911941   1.225016
6    10  1.013557   1.180878
7    11  0.901428   0.791856
8    13  1.438724   0.253038
9    15  1.024030   1.033161
10   17  1.013195   1.362696
11   18  0.967643   2.987398
12   19  0.915369   1.139512
13   20  1.020230   0.885085
14   22  1.491861   8.242955
15   25  1.049631   0.879557
16   26  0.919814   1.422836
17   27  1.618496 -50.618116
18   28  1.561561   1.931110

In [3]:
df_results.to_csv("../calib/calib_2023dec.csv",index=False)